.sw-cms-preview-moorl-twig {
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: black;
    pre {
        color: greenyellow;
    }
}
